//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.05
//Part Number: GW1NS-LV4CQN48C7/I6
//Device: GW1NS-4C
//Created Time: Thu 06 16 15:31:00 2022

IO_LOC "gpio_io[0]" 41;
IO_PORT "gpio_io[0]" PULL_MODE=UP DRIVE=8;
